name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'

    steps:
        - name: Check out repository code
          uses: actions/checkout@v4

        - name: Install PHP
          uses: shivammathur/setup-php@v2
          with:
              php-version: ${{ matrix.php-versions }}
              coverage: none
              extensions: none

        - name: Check PHP Version
          run: php -v

        - name: Install dependencies
          run: composer install

        - name: Run tests
          run: composer test

        - name: Lint
          run: composer lint

        - name: Sniff
          run: composer sniff
